.container
    display: flex 
    flex-direction: column
    align-items: center
    width: 200px
    height: min-content
    background-color: #F1F1F1
    border-radius: 12px
    margin: 10px
    .button 
        background-color: #dedbdb
        border-radius: 6px
    &:hover
        background-color: #FCE1CA
        .info
            background-color: #FCE1CA
        .button
            background-color: #f3c7a3d5
            border-radius: 6px

.photo
    border-radius: 12px 12px 0 0

.photoContainer
    // padding: 10px
    background-color: #cecdcd
    width: 200px
    height: 200px
    border-radius: 12px 12px 0 0

.info
    display: flex 
    flex-direction: column
    border-radius: 12px 
    margin-top: -25px
    background-color: #F1F1F1
    width: 100%
    z-index: 1


.name
    font-family: sans-serif
    justify-content: center
    font-size: 14px
    font-weight: 600
    text-align: center
    margin-bottom: -10px
    padding: 0 3px

.cal
    font-family: sans-serif
    font-size: 12px
    
.bold
    font-family: sans-serif
    font-size: 14px
.text
    display: flex
    flex-direction: row
    column-gap: 5px
    align-items: center
    padding: 5px 10px 0 10px

.wrap
    display: flex 
    flex-direction: row
    column-gap: 10px
    align-items: center
    justify-content: space-between
    padding-left: 10px
    padding-right: 10px
    margin-top: -25px

.price
    font-family: sans-serif


.button
    display: flex 
    justify-content: center 
    align-items: center
    border: none
    width: 40px
    height: 30px
    &:hover 
        background-color: #f5b27bd5 !important
        border-radius: 6px

.p 
    font-size: 20px
        
.label
    font-family: sans-serif
    justify-content: center
    font-size: 16px
    font-weight: 600
       
.buttonWrap
    display: flex 
    flex-direction: row
    column-gap: 5px