.background
    background-color: #D8F2CF
    padding: 20px 20px 0px 20px

.container
    background-color: #ffffffe3
    border-radius: 10px
    display: flex 
    flex-direction: column
    row-gap: 20px
    padding-bottom: 320px

.h1
    font-family: sans-serif
    padding-top: 10px
    text-align: center


.p
    font-family: sans-serif
    margin-top: -5px
    display: flex
    flex-direction: column
    text-align: center
    color: #757373
    font-weight: 300

.body
    display: flex 
    flex-direction: column
